<header id="topnav">
  <div class="topbar-main">
      <div class="container-fluid">

          <!-- Logo container-->
          <div class="logo">

              <a routerLink="/" class="logo">
                  <img src="assets/images/logo-sm.png" alt="" class="logo-small">
                  <img src="assets/images/logo-light.png" alt="" class="logo-large">
              </a>

          </div>
          <div class="clearfix"></div>

      </div> <!-- end container -->
  </div>
  <!-- end topbar-main -->
</header>
